body {
    background-color: lightblue;
}
  
        dt{
            display: inline;
            color: blue;
            font-weight: bold;
        }
         dt.morado {
            display: inline; 
            color: purple; 
            font-weight: bold;
        }
        dt.red {
            display: inline; 
            color: red; 
            font-weight: bold;
        }
         dt.green {
            display: inline; 
            color: green; 
            font-weight: bold;
        }
        dt.orange {
            display: inline; 
            color: orange; 
            font-weight: bold;
        }

		dd {
            display: inline;
            margin-left: 0px;
        }
        dd.sofia {color: pink;
                background-color: white;
                padding: 10px;
            }
		br {
            display: block; content: ""; 
            margin-top: 5px;
        }
		span {background-color: blueviolet;
             padding: 20px;
        }

        #barrio_1 {text-align: center;
                color: brown;}

        #barrio_2 {color: red;
        background-color: aquamarine;
    }